
.middleBox{
    width: 75%;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    margin: 0 auto;
}
.title_4 {
    font-style: bold;
    margin-top: 100px;
}
.content {
    padding : 30px
}
.content_1 {
    color: green;
}
.hr-sect {
    display: flex;
    align-items: center;
    width: 100%;
    margin:100px;
    position :relative;
    right: 100px;
  }
  .hr-sect::before,
  .hr-sect::after {
    content: "";
    flex-grow: 1;
    margin: 0px 16px;
    border: none;
    border-style: dashed;
    border-width: 1px 0;
    border-color: #009f50;
  }

  .delivery_img{
    margin:  100px;
  }
.clean_product_ul{
    margin: auto;
    width: 1000px;
    position: relative;
    right: 120px;
}
.clean_product_ul img{
    width: 288px;
    height: 300px;
}
.recruitment{
    width: 40px;
    height: 17px;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    background-color: #FFFF;
    border-radius: 30px;
    border: 1px solid;
    border-color:#009f50;
    color: black;
}
.clean_product_ul .name{
    font-size: 16px;
    font-weight: medium;
}
.clean_product_ul .year{
    color: gray;
    font-size: 16px;
    font-weight: medium;
}

.clean_product_ul button{
    width: 288px;
    height: 33px;
    font-size: 14px;
    font-weight: bold;
    background-color:#009f50;
    color: white;
    border-radius: 10px;
    border :none;
}

.clean_product_ul li {
    display: inline-block;
    margin: 20px;
}
.clean_product_ul p {
    display: flex;
}
