.apply_button{
    width: 544px;
    height: 56px;
    font-size: 14px;
    font-weight: bold;
    background-color:#009f50;
    color: white;
    border-radius: 10px;
    border :none;
    position: relative;
    top:170px;
    left: 20px;
}
.experience_product_img{
    width: 388px;
    height: 460px;
}
.experience_product{
    display: flex;
    padding: 40px;
  }

  .application_clean{
    font-size: 32px;
    font-weight: bold;
    padding-top: 70px;
    padding-bottom: 20px;
  }
.recruitment_experience{
    width: 60px;
    height: 17px;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    background-color: #FFFF;
    border-radius: 30px;
    border: 1px solid;
    border-color:#009f50;
    color: black;
    position: relative;
    left:10px
}
.name_experience{
  font-size: 36px;
  font-weight: bold;
  position: relative;
  right: 210px;
  bottom: 30px;

}
.composition_experience{
  font-size: 20;
  font-size: medium;
  color: #999999;
  position: relative;
  right: 220px;
  bottom: 60px;
}   
.year_experience{
  font-size: 20;
  font-size: medium;
  position: relative;
  right: 210px;
  bottom: 70px;
}
.share_button{
    background-color: transparent;
    border: none;
}