
.nutrition-search-title{
    font-size: 32px;
    font-weight: bold;
}
.nutrition-search-1{
    display: flex;
    margin: 50px;
}
.nutrition-search-category{
    width: 983px;
    height: 140px;
    margin: auto;
    font-size: 16px;
    border: 2px solid #b3b3b3;
    border-radius: 5px;
}

.nutrition-search-category .ul1 >li{ 
    display: flex;
    margin: auto;
    padding: 20px;
    justify-content:space-around

}
.nutrition-search-category .ul1 > li a{
    text-decoration: none;
    color: #9999;

}

.nutrition-search-category .ul2 >li{
    display:inline-block;
    padding-right: 25px;
    
}
.nutrition-search-category .ul3 >li {
    display: inline-block;
    padding-right: 35px;
}



.pricesort {
    display: flex;
    align-items: center;
    color: gray;
    padding: 5px 20px;
    margin: 0 auto;
    /* 가운데 정렬을 위해 margin을 auto로 설정 */
    background-color: white;
    justify-content: flex-end;
    /* 요소들을 화면 우측으로 정렬합니다 */

}

.user .item {
    margin-right: 10px;
}

/* 상품 목록 */
.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 70%;
    /* 가운데 정렬을 위해 margin을 auto로 설정 */
    background-color: #fff;
    /* Set white background */
}

.product-item {
    display: flex;
    flex-direction: column;
    align-items: left;
    border: none;
    padding: 30px;
    position: relative;
}

.product-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

.product-info {
    position: relative;
    /* .product-info를 기준으로 하단 왼쪽에 정렬할 요소들의 위치를 설정합니다 */
    text-align: left;
    /* 글씨들을 왼쪽에 정렬합니다 */
    justify-content: flex-start;
    bottom: 0; /* 아래쪽 여백을 0으로 설정하여 하단에 정렬합니다 */
    left: 0; /* 왼쪽 여백을 0으로 설정하여 왼쪽에 정렬합니다 */
}

/* 아래로 하트 이미지관련 css */

.brand {
    font-size: 14px;
}

.name {
    font-weight: bold;
    font-size: 16px;
    
}

.price {
    font-weight: bold;
    color: #008000;
}

.rating-container {
    display: flex;
    align-items: center;
}

.rating {
    font-weight: bold;
    margin-right: 5px;
}

.reviewCount {
    
    text-decoration: underline;
}

.product-image {
    /* 이미지를 부모 요소에 맞추되, 가로 세로 비율을 유지합니다 */
    width: 100%;
    height: auto;
  }

  /* Main.css */

.product-item {
    /* ... 기존 스타일 ... */
    position: relative;
}

.product-image-container {
    position: relative;
    display: inline-block;
    width: 100%; /* 이미지 컨테이너를 100% 너비로 설정 */
}

.product-image {
    width: 288px; /* 이미지를 부모 요소 너비에 맞게 조절 */
    height: 352px; /* 가로 세로 비율 유지 */
}

.heart-image {
    position: absolute;
    bottom: 8%; /* 오른쪽 하단에서 약 5% 떨어진 위치에 */
    right: 8%; /* 오른쪽으로 약 5% 떨어진 위치에 */
    cursor: pointer;
    width: 18%; /* 이미지 크기를 부모 요소 너비의 4%로 설정 */
    height: auto; /* 이미지의 가로 세로 비율 유지 */
    z-index: 1; /* 이미지가 위에 나타나도록 z-index 설정 */
}



.category{
    font-size: 10pt;
    text-align: left;
}
.ctgr{
    text-decoration: none;
    color: black;
}
.category{
    display: flex;
    background-color: white;
    padding: 20px 50px;
    color: black;
    justify-content: left;

}

.search-result{
    display: flex;
    background-color: white;
    padding: 0px 50px;
    color: black;
   
}
.search-result-p{
    font-size: 16px;
    font-weight: medium;
    position: relative;
    top:40px
}