.inquiry_text0 {
    text-align: center;
  }
  
  .inquiry_text1 {
    color: #009f50;
    font-weight: bold;
  }
  
  .inquiry_text2 {
    font-weight: bold;
    color: black;
  }
  
  .inquiry_image {
    margin-top: 100px;
  }