
.bigbox .image {
    height: 600px;
    margin-top: 50px;
  }
  
  .image img {
    width: 100%;
  }
  .image .advertisement{
    width: 1090px;
    position: relative;
    right: 140px;
    z-index: 0;

  }

.image_button button{ 
  position: relative;
  bottom: 100px;
  left: 400px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: #ccc;
}
.image_button .image_left {
  width: 4%;
}
.image_button .image_right {
  width: 4%;
}
.image_button .image_number{
  position: relative;
  top:-108px
}