  .background{
    background-color: #fafafa;
    height:2500px;
    border-radius: 0px;
  }
  /* 큰 박스 스타일 */
  .background_long_round {
    background-color: #009f50;
    height: 900px;
    border-radius: 0 0 50% 50%;
  }
  
  .bigBox {
    width: 75%;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    padding-top: 40px;
    margin: 0 auto;
  }
  
