/* 영양 성분 검색 메뉴 스타일 */

.box {
    position: relative;
    top: -100px;
    width: 100%;
    height: 1000px;
  }
  
  .vigandiet {
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-top: 50px;
  }
  
  .box hr{
    height: 2px;
    width:80%;
    background-color: #d9d9d9;
    border:#d9d9d9;
  }
  .vigan_image li {
    display: inline-block;
    float: left;
    margin: 25px;
  }

  .diet_image li{
    display: inline-block;
    float: left;
    margin: 25px;
  }

  .vigan.selected {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #009f50;
    text-decoration-thickness: 0.25em; /* 밑줄의 두께 조정 */
    text-underline-offset: 1.28em; 
  }
  .diet.selected {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #009f50;
    text-decoration-thickness: 0.25em; /* 밑줄의 두께 조정 */
    text-underline-offset: 1.28em; 
  }
  