
  /* 큰 박스 스타일 */
  .bigBox {
    width: 75%;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    padding-top: 40px;
    margin: 0 auto;
  }
  
/* GNB 스타일 */
.gnb {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .gnb a {
    text-decoration: none;
    color: inherit;
    
  }
  .gnb ul{
    list-style: none;
    z-index: 1;
  }
  .gnb .depth1 {
    position: relative;
    display: flex;
    justify-content:space-evenly;
    bottom: 10px;
  }

  .gnb .depth1 > li {
    display: inline-block;
    font-size: 14px;
    padding: 0px 20px;
  }
  .gnb .depth1 >li:hover > a{
    color: #009f50;
    border-bottom: 4px solid #009f50; /* 초록색 밑줄을 추가합니다. */
  }

  
  .gnb .depth2 {
    display: none;
    position: absolute;
    padding: 40px;
    width: 600px;
    left: 40%;
    transform: translateX(-50%)
  }

  .gnb .depth1 > li:hover > .depth2 {
    display: flex;
  }
  .gnb .depth2 li  {
    padding-top: 30px;
    position: relative;
    right: 100px;
  }

  .gnb .depth1 > .depth2 li:hover > a  {
    padding: 10px 20px;
    background: rgba(0, 159, 80, 0.5); /* 밑줄 색상 변경 */
  }
  
  .gnb .depth3 {
    display: none;
    position: absolute;
    padding-left: 0; /* 들여쓰기 제거 */
    top: 16px; 
    left: 100%; 
    
  }
  .gnb .depth3 li {
    padding: 10px;
    display: grid;
    white-space: nowrap;
  }
  .gnb .depth2 li:hover > .depth3 {
    display:flex;
    left: 750px;
  }

  .depth3 a:hover{
    color: #009f50;

  }
  .gnb .smallbox{
    position: absolute;
    width: 158.8%;
    height: 300px;
    background-color: white;
    left: -92px;
  }
  .gnb .message {
    font-size: 25px;
    position: fixed;
    top: 70px;
    left: 50px;
  }

  .subMenuLabel:hover {
    padding: 10px 20px;
    background: rgba(0, 159, 80, 0.5); /* 밑줄 색상 변경 */
  }